/*********************************************
** Primary Stylesheet for Fantastic Weather **
*********************************************/
html {
  font-size: 16px; }

body {
  font-size: 16px;
  font-family: 'Calligraffitti', sans-serif; }

#fantasticWeather,
footer {
  display: none; }

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }
  .site .siteContent {
    flex: 1; }

.btn-github {
  background: #333333;
  border-color: #111111;
  color: #ffffff; }
  .btn-github:hover {
    background: #222222;
    color: #ffffff; }

.btn-twitter {
  background: #55acee;
  border-color: #3E7EAE;
  color: #ffffff; }
  .btn-twitter:hover {
    background: #4C9AD4;
    color: #ffffff; }

@keyframes wave {
  0% {
    border-radius: 25%; }
  100% {
    border-radius: 50%; } }
@keyframes wave-after {
  0% {
    border-radius: 25%;
    left: -50px; }
  100% {
    border-radius: 50%;
    left: -42px; } }
@keyframes wave-before {
  0% {
    border-radius: 25%;
    left: 44px; }
  100% {
    border-radius: 50%;
    left: 36px; } }
@keyframes loader {
  0% {
    bottom: 0; }
  100% {
    bottom: 5px; } }
@keyframes ocean {
  0% {
    bottom: 0; }
  100% {
    bottom: 10px; } }
@keyframes sky {
  0% {
    bottom: 13px; }
  100% {
    bottom: 23px; } }
@keyframes shine {
  100% {
    transform: rotate(360deg); } }
body #loader {
  background: #fff;
  font-family: "swiss", Helvetica, Arial, sans-serif; }

.loader {
  position: relative;
  margin: auto;
  width: 300px;
  height: 300px;
  animation: loader .7s infinite alternate ease-in-out; }

.loading {
  position: absolute;
  bottom: -20px;
  margin: auto;
  width: 300px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .3em;
  font-size: 12px;
  font-weight: 200; }

.ocean {
  position: absolute;
  bottom: 0;
  margin: auto;
  width: 300px;
  animation: ocean .9s infinite alternate ease-in-out; }

.waves,
.waves:after,
.waves:before {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: #64FFDA;
  box-sizing: border-box; }

.waves {
  position: relative;
  margin: auto;
  margin-bottom: 10px;
  animation: wave 1.1s infinite alternate ease-in-out; }

.waves:after,
.waves:before {
  position: absolute;
  content: "";
  display: block;
  top: -3px; }

.waves:after {
  left: -42px;
  animation: wave-after 1.1s infinite alternate ease-in-out; }

.waves:before {
  left: 36px;
  animation: wave-before 1.1s infinite alternate ease-in-out; }

.sky {
  position: absolute;
  bottom: 15px;
  width: 300px;
  height: 140px;
  overflow: hidden;
  animation: sky .9s infinite alternate ease-in-out; }

.sun {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border: 3px solid #64FFDA;
  border-radius: 50%;
  transform: translate3d(0, 110px, 0); }

.shine {
  position: absolute;
  top: 50%;
  left: 50%;
  animation: 20s shine linear infinite; }

.r {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 40px;
  border-bottom: 10px solid #64FFDA;
  transform-origin: top; }

.r:nth-child(1) {
  transform: rotate(45deg); }

.r:nth-child(2) {
  transform: rotate(90deg); }

.r:nth-child(3) {
  transform: rotate(135deg); }

.r:nth-child(4) {
  transform: rotate(180deg); }

.r:nth-child(5) {
  transform: rotate(225deg); }

.r:nth-child(6) {
  transform: rotate(270deg); }

.r:nth-child(7) {
  transform: rotate(315deg); }

.r:nth-child(8) {
  transform: rotate(360deg); }

#fantasticWeather {
  color: #ffffff;
  padding-bottom: 20px; }
  #fantasticWeather h1 {
    text-align: center;
    font-size: 3.0rem; }
  #fantasticWeather .weatherStrip {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem; }
    #fantasticWeather .weatherStrip > span, #fantasticWeather .weatherStrip > div {
      margin-left: 10%;
      margin-right: 10%; }
    #fantasticWeather .weatherStrip #wind {
      display: flex;
      flex-direction: column;
      align-items: center; }
    #fantasticWeather .weatherStrip #conditions {
      width: 65px; }
  #fantasticWeather .messageWrapper {
    margin-top: 50px;
    text-align: left;
    font-size: 2.0rem;
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 1200px) {
      #fantasticWeather .messageWrapper {
        font-size: 2.5rem; } }
    #fantasticWeather .messageWrapper span:first-of-type {
      margin-bottom: 20px; }
  #fantasticWeather .creatureWrapper .topRow {
    width: 100%; }
    #fantasticWeather .creatureWrapper .topRow h3 {
      text-align: left;
      font-size: 2.25rem; }
      @media screen and (min-width: 1200px) {
        #fantasticWeather .creatureWrapper .topRow h3 {
          font-size: 2.8rem; } }
  #fantasticWeather .creatureWrapper .creatureTable {
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 768px) {
      #fantasticWeather .creatureWrapper .creatureTable {
        flex-direction: row; } }
    #fantasticWeather .creatureWrapper .creatureTable #creatureWarning {
      text-align: left;
      flex-grow: 3;
      padding-right: 10px;
      font-size: 2.0rem; }
      @media screen and (min-width: 1200px) {
        #fantasticWeather .creatureWrapper .creatureTable #creatureWarning {
          font-size: 2.5rem; } }
    #fantasticWeather .creatureWrapper .creatureTable .imgWrapper {
      flex-grow: 1;
      text-align: center; }
      #fantasticWeather .creatureWrapper .creatureTable .imgWrapper img {
        margin-top: 10px; }
  #fantasticWeather .unitSwitchWrapper {
    text-align: center;
    margin-top: 16px; }
    @media screen and (min-width: 768px) {
      #fantasticWeather .unitSwitchWrapper {
        text-align: left;
        margin-top: 0px; } }

footer {
  background: #333;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  color: #ffffff; }
  footer .buttonStrip {
    display: flex;
    justify-content: center; }
    footer .buttonStrip a.btn {
      margin-left: 3px;
      margin-right: 3px;
      display: flex;
      justify-content: center;
      align-items: center; }
      footer .buttonStrip a.btn:first-of-type {
        margin-left: 0; }
      footer .buttonStrip a.btn:last-of-type {
        margin-right: 0; }
  footer .copyright {
    margin-top: 5px; }
    footer .copyright a {
      color: #ffffff; }
      footer .copyright a:hover, footer .copyright a:focus {
        color: #ffffff; }
  footer .disclaimer {
    font-size: 0.75rem; }

/*# sourceMappingURL=style.css.map */
