/*********************************************
** Primary Stylesheet for Fantastic Weather **
*********************************************/
#fantasticWeather,
footer {
  display: none; }

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }
  .site .siteContent {
    flex: 1; }

.btn-github {
  background: #333333;
  border-color: #111111;
  color: #ffffff; }
  .btn-github:hover {
    background: #222222;
    color: #ffffff; }

.btn-twitter {
  background: #55acee;
  border-color: #3E7EAE;
  color: #ffffff; }
  .btn-twitter:hover {
    background: #4C9AD4;
    color: #ffffff; }

@keyframes wave {
  0% {
    border-radius: 25%; }
  100% {
    border-radius: 50%; } }
@keyframes wave-after {
  0% {
    border-radius: 25%;
    left: -50px; }
  100% {
    border-radius: 50%;
    left: -42px; } }
@keyframes wave-before {
  0% {
    border-radius: 25%;
    left: 44px; }
  100% {
    border-radius: 50%;
    left: 36px; } }
@keyframes loader {
  0% {
    bottom: 0; }
  100% {
    bottom: 5px; } }
@keyframes ocean {
  0% {
    bottom: 0; }
  100% {
    bottom: 10px; } }
@keyframes sky {
  0% {
    bottom: 13px; }
  100% {
    bottom: 23px; } }
@keyframes shine {
  100% {
    transform: rotate(360deg); } }
body {
  background: #fff;
  font-family: "swiss", Helvetica, Arial, sans-serif; }

.loader {
  position: relative;
  margin: auto;
  width: 300px;
  height: 300px;
  animation: loader .7s infinite alternate ease-in-out; }

.loading {
  position: absolute;
  bottom: -20px;
  margin: auto;
  width: 300px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .3em;
  font-size: 12px;
  font-weight: 200; }

.ocean {
  position: absolute;
  bottom: 0;
  margin: auto;
  width: 300px;
  animation: ocean .9s infinite alternate ease-in-out; }

.waves,
.waves:after,
.waves:before {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: #64FFDA;
  box-sizing: border-box; }

.waves {
  position: relative;
  margin: auto;
  margin-bottom: 10px;
  animation: wave 1.1s infinite alternate ease-in-out; }

.waves:after,
.waves:before {
  position: absolute;
  content: "";
  displsy: block;
  top: -3px; }

.waves:after {
  left: -42px;
  animation: wave-after 1.1s infinite alternate ease-in-out; }

.waves:before {
  left: 36px;
  animation: wave-before 1.1s infinite alternate ease-in-out; }

.sky {
  position: absolute;
  bottom: 15px;
  width: 300px;
  height: 140px;
  overflow: hidden;
  animation: sky .9s infinite alternate ease-in-out; }

.sun {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border: 3px solid #64FFDA;
  border-radius: 50%;
  transform: translate3d(0, 110px, 0); }

.shine {
  position: absolute;
  top: 50%;
  left: 50%;
  animation: 20s shine linear infinite; }

.r {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 40px;
  border-bottom: 10px solid #64FFDA;
  transform-origin: top; }

.r:nth-child(1) {
  transform: rotate(45deg); }

.r:nth-child(2) {
  transform: rotate(90deg); }

.r:nth-child(3) {
  transform: rotate(135deg); }

.r:nth-child(4) {
  transform: rotate(180deg); }

.r:nth-child(5) {
  transform: rotate(225deg); }

.r:nth-child(6) {
  transform: rotate(270deg); }

.r:nth-child(7) {
  transform: rotate(315deg); }

.r:nth-child(8) {
  transform: rotate(360deg); }

#fantasticWeather h1 {
  text-align: center; }
#fantasticWeather .weatherStrip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  #fantasticWeather .weatherStrip > span, #fantasticWeather .weatherStrip > div {
    margin-left: 10%;
    margin-right: 10%; }
  #fantasticWeather .weatherStrip #wind {
    display: flex;
    flex-direction: column;
    align-items: center; }
  #fantasticWeather .weatherStrip #conditions {
    text-transform: capitalize; }

footer {
  background: #e1e1e1; }

/*# sourceMappingURL=style.css.map */
