//GLOBAL STYLES
html {
    font-size: 16px;
}

body {
    font-size: 16px;
    font-family: 'Calligraffitti', sans-serif;
    //font-family: 'Amatic SC', sans-serif;
}

//INITIAL CONTENT STATES
#fantasticWeather,
footer {
    display: none;
}

//FLEXBOX
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
    .siteContent {
        flex: 1;
    }
}

//BUTTONS
.btn-github {
    background: $github;
    border-color: $githubBorder;
    color: $whiteText;
    
    &:hover {
        background: $githubShade;
        color: $whiteText;
    }
}

.btn-twitter {
    background: $twitter;
    border-color: $twitterBorder;
    color: $whiteText;
    
    &:hover {
        background: $twitterShade;
        color: $whiteText;
    }
}