#fantasticWeather,
footer {
    display: none;
}

#fantasticWeather {
    .weatherStrip {
        #conditions {
            text-transform: capitalize;
        }
    }
}


footer {
    background: rgb(225, 225, 225);
}