//MAIN CONTENT

#fantasticWeather {
    //background-color: rgba(51, 51, 51, 0.2);
    //background-size: cover;
    color: $whiteText;
    padding-bottom: 20px;

    h1 {
        text-align: center;
        font-size: 3.0rem;
    }

    .weatherStrip {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;

        &>span,
        &>div {
            @include marginX(10%);
        }

        #wind {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #conditions {
            width: 65px;
        }
    }

    .messageWrapper {
        margin-top: 50px;
        text-align: left;
        font-size: 2.0rem;

        @media screen and (min-width: 1200px) {
            font-size: 2.5rem;
        }

        display: flex;
        flex-direction: column;

        span {
            &:first-of-type {
                margin-bottom: 20px;
            }
        }
    }

    .creatureWrapper {
        .topRow {
            width: 100%;

            h3 {
                text-align: left;
                //color: #f0ad4e;
                font-size: 2.25rem;

                @media screen and (min-width: 1200px) {
                    font-size: 2.8rem;
                }
            }
        }

        .creatureTable {
            display: flex;
            flex-direction: column;

            @media screen and (min-width: 768px) {
                flex-direction: row;
            }

            #creatureWarning {
                text-align: left;
                flex-grow: 3;
                padding-right: 10px;
                font-size: 2.0rem;

                @media screen and (min-width: 1200px) {
                    font-size: 2.5rem;
                }
            }

            .imgWrapper {
                flex-grow: 1;
                text-align: center;

                img {
                    margin-top: 10px;
                }
            }
        }
    }

    .unitSwitchWrapper {
        text-align: center;
        margin-top: 16px;

        @media screen and (min-width: 768px) {
            text-align: left;
            margin-top: 0px;
        }
    }

}


footer {
    background: #333;
    @include paddingY(10px);
    text-align: center;
    color: $whiteText;

    .buttonStrip {
        display: flex;
        justify-content: center;

        a.btn {
            @include marginX(3px);
            display: flex;
            justify-content: center;
            align-items: center;

            &:first-of-type {
                margin-left: 0;
            }

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    .copyright {
        margin-top: 5px;

        a {
            color: $whiteText;

            &:hover,
            &:focus {
                color: $whiteText;
            }
        }
    }

    .disclaimer {
        font-size: 0.75rem;
    }
}
